<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <title>Fundamentos VueJS</title>
</head>

<body>
  <div id='app'>
    <nav class="navbar fixed-top navbar-dark bg-info">
      <span class="navbar-brand mb-0 h1">Hello Vue</span>
      <ul class="navbar-nav ml-auto">
        <li class='nav-item active'>
          <a href="#" class="nav-link" @click="displayCart=true">
            Cart {{ cart.length }}
          </a>
        </li>
      </ul>
    </nav>
    <div class="container mt-5">
      <product :premium='premium' :cart='cart' @add-to-cart="addToCart" @remove-from-cart="removeFromCart"></product>
    </div>

    <div class="modal" tabindex="-1" :class="{ show: displayCart }" :style="modalStyle">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Tú canasta</h5>
            <button type="button" class="close" @click="displayCart=false" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p v-if="!cart.length">Canasta vacía</p>
            <div v-else>
              <ul>
                <li v-for="(variant, index) in cart" :key="index">
                  {{ variant.variantType }}
                </li>
              </ul>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-warning" data-dismiss="modal" @click="cart=[]">Vaciar</button>
            <button type="button" class="btn btn-info" @click="displayCart=false">Seguir comprando</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script type="text/x-template" id="product-template">
    <div class="row pt-5">
      <div class="col-12 col-md-6">
        <img :src="img" alt="" class="img-thumbnail">
      </div>
      <div class="col-12 col-md-6">
        <h1>{{ product }}</h1>
        <p>{{ description }}</p>
        <p>Stock: {{ stock }}</p>
        <p v-if="stock > 10" :class="">In Stock</p>
        <p v-else-if="stock <=10 && stock > 0">Quedan muy pocos</p>
        <p v-else>Out of Stock</p>
        <div class="input-group mb-3">
        <div class="input-group-prepend">
          <label class="input-group-text" for="inputGroupSelect01">Variante</label>
        </div>
        <select class="custom-select" id="inputGroupSelect01" v-model="selectedVariant">
          <option v-for="variant in variants" :value="variant":key="variant.variantId">{{variant.variantType}}</option>
        </select>
        </div>
        <p>Envío: {{ shipping }}</p>
        <button class="btn btn-info" :disabled="!inStock" v-on:click="addToCart">Agregar al Carro</button>
        <button class="btn btn-warning" v-on:click="removeFromCart">Sacar del Carro</button>
        
        <div class="mt-3">
        <product-tabs :reviews="reviews" :shipping="shipping" :details='details'></product-tabs>  
        </div>
        </div>
    </div>
  </script>

  <script type="text/x-template" id="review-template">
    <div>
      <div v-if="errors.length" class="alert alert-warning  alert-dismissible" role="alert">
      <p>
      <b>Por favor corregir los siguientes errores:</b>
      <ul>
        <li v-for="error in errors">{{ error }}</li>
      </ul>
      </p>
      <button type="button" @click="errors = []" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      </div>
      <h4>Agregar Review</h4>
      <form class="form-group mt-2" @submit.prevent="onSubmit">
      <p>
        <label for="name">Nombre:</label>
        <input id="name" v-model="name" placeholder="Nombre" class="form-control">
      </p>
      <p>
        <label for="review">Review:</label>      
        <textarea id="review" v-model="review" class="form-control" placeholder="Review"></textarea>
      </p>
      <p>
        <label for="rating">Rating:</label>
        <select id="rating" v-model.number="rating">
          <option>5</option>
          <option>4</option>
          <option>3</option>
          <option>2</option>
          <option>1</option>
        </select>
      </p>
      <p>
        <input type="submit" class="btn btn-warning" value="Enviar">  
      </p>    
    </form>
    </div>
  </script>

  <script type="text/x-template" id="tabs-template">
    <div>
      <ul class="nav nav-tabs">
      <li v-for="(tab,index) in tabs" :key="index" class="nav-item">
        <a class="nav-link" :class="{ active: selectedTab === tab }" href="#" @click.prevent="selectedTab = tab">{{tab}}</a>
      </li>
    </ul>
    <div v-show="selectedTab == 'Reviews'">
    <h2>Reviews</h2>
        <p v-if="reviews.length == 0">Aún no hay reviews.</p>
        <ul v-else >
          <li class="list-item" v-for="review in reviews">
          <p>Usuario: {{ review.name }} | Rating: {{ review.rating }}</p>
          <p>Comentario: {{ review.review }}</p>
          </li>
        </ul>
    </div>
        <product-review v-show="selectedTab == 'Hacer review'"></product-review>
        <product-shipping v-show="selectedTab == 'Envío'" :shipping="shipping"></product-shipping>
        <product-details v-show="selectedTab == 'Detalles'" :details='details'></product-details>
    </div>
  </script>

  <script type="text/x-template" id="shipping-template">
    <div>
      <p>{{ shipping }}</p>
    </div>
  </script>

  <script type="text/x-template" id="details-template">
    <div>
      <ul>
        <li v-for='detail in details'> {{ detail }}</li>
      </ul>
    </div>
  </script>

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="./product/index.js"></script>
  <script src="./product/reviews.js"></script>
  <script src="./product/tabs.js"></script>
  <script src="./product/shipping.js"></script>
  <script src="./product/details.js"></script>
  <script src='main.js'></script>
</body>

</html>