<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <title>Hello Vue</title>
</head>

<body>
  <nav class="navbar navbar-dark bg-info">
    <span class="navbar-brand mb-0 h1">Hello Vue</span>
  </nav>
  <div class="container">
    <div id='app'>
      <div class="row pt-5">
        <div class="col">
          <img :src="img" alt="" class="img-thumbnail">
        </div>
        <div class="col">
          <h1>{{ product }}</h1>
          <p>{{ description }}</p>
          <p v-if="onSale">Producto Rebajado</p>
          <p v-if="stock > 10" :class="">In Stock</p>
          <p v-else-if="stock < 10 && stock > 0">Quedan muy pocos</p>
          <p v-else>Out of Stock</p>
          <ul>
            <li v-for='detail in details'> {{ detail }}</li>
          </ul>

          <div v-for="variant in variants" :key="variant.variantId">
            <p @mouseover="updateImg(variant.img)">{{ variant.variantType}}</p>
          </div>
          <a :href="link">Ver detalle</a>
          <div class='cart'>
            <p>Cart {{cart}}</p>
          </div>
          <button class="btn btn-info" :disabled="!inStock" v-on:click="addToCart">Agregar al Carro</button>
          <button class="btn btn-warning" :disabled="!inStock" v-on:click="removeFromCart">Sacar del Carro</button>

        </div>
      </div>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src='main.js'></script>
</body>

</html>